watchdog
google-generativeai==0.3.2
mutagen
git+https://github.com/pytgcalls/pytgcalls@master        
telethon
aiocron
ffmpeg
emoji
pytz
gtts
qrcode
Telegram
aiohttp
fake_useragent
user_agent
hijri_converter
googletrans==4.0.0-rc1
gpytranslate
