watchdog
google-generativeai==0.3.2
mutagen
pytgcalls==2.0.4        
telethon
aiocron
ffmpeg
emoji
pytz
gtts
qrcode
Telegram
aiohttp
fake_useragent
user_agent
hijri_converter
googletrans==4.0.0-rc1
gpytranslate
